<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Camera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

     <script>
function goBack()
  {
  window.history.back()
  }
</script>
  </head>

  <body>
    <table class="logo formatcenter">
        <tr>
          <td><button style="padding-left:18%;" onclick="goBack()" class="pull-left btn_dropdown"><img id="back" src="img/glyphicons_224_chevron-left.png"></button></td>
    <td><h1>CAMERA</h1></td>
       
          <td class="menuCol">

            <div class="btn-group menu">
            <button class="btn_dropdown" data-toggle="dropdown" id="menuBtn">
            <img id="menu" src="img/glyphicons_114_list.png">
            </button>
              <ul class="dropdown-menu pull-right setbackground" role="menu" aria-labelledby="dropdownMenu">
                <li class="rightMargin"><a tabindex="-1" href="/home"><img id="setting" src="img/glyphicons_020_home.png" class="rightMargin">HOME</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/settings"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">SETTINGS</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/"><img id="logout" src="img/glyphicons_388_exit.png" class="rightMargin">LOG OUT</a></li>
               </ul>
            </div>  
          </td>
        </tr>
    </table>


<div class="container">
  <br> <br>
  <div style="text-align:center;">
  <form class = "imgur-submit" action="/retakepic">
  <div class="fileUpload btn btn-color">
  <span> Take Picture/Upload Image</span>
  <input class="upload" style="padding-left:38%;" type='file' onchange="readURL(this);" />
  </div> 
  <br>
  <br>
  <img id="blah" alt="                                   No image uploaded or taken"/>
  <p id="filler1"></p>
  <p id="filler2"></p>
  <br>
  <p>Hint: If you want to retake a picture or upload a different picture, just push the 'Take Picture' button again</p>

  <input class="btn btn-color" id="whysospecial"  value="Put into Closet!" data-action="upload-to-imgur">
  </form>
  </div>
  <script type="text/javascript">

var fileToUpload;
$('input[type=file]').change(function () {
     // console.log(this.files[0].name, this.files[0].type);
      console.log(this.files[0]);

      fileToUpload = this.files[0];
      document.getElementById("filler1").innerHTML += this.files[0].name;
})

$('input[type=file]').change(function (){
      document.getElementById("filler2").innerHTML += this.files[0].type;
})
  function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(250);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
var imgURL;
$('input[data-action=upload-to-imgur]').click(function upload(e){
//	console.log("hugs for judy");

	var file = fileToUpload;
//	console.log("items should be identical" + file);
	if(!file || !file.type.match(/image.*/)){ console.log("did it die here 1?");
	return;
	}
//	console.log("did it die here 2?");
	document.body.className = "uploading";
	var fd = new FormData(); // I wrote about it: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
	console.log(fd); // error could be here
        fd.append("image", file); // Append the file // or here
     //   fd.append('Authorization', 'Client-ID 8cefd45719a1d64');//or here

//	console.log("hi me judy <3");
        var xhr = new XMLHttpRequest(); // Create the XHR (Cross-Domain XHR FTW!!!) Thank you sooooo much imgur.com

	console.log(xhr);
        xhr.open("POST", "https://api.imgur.com/3/upload.json"); // Boooom!
    	xhr.setRequestHeader('Authorization', 'Client-ID 8cefd45719a1d64');

	xhr.onload = function(){
        var link = JSON.parse(xhr.responseText).data.link;
	console.log(link);
	imgURL = link;
	putIntoDB(imgURL);
        //document.querySelector("#link").href = link;
        //document.querySelector("#link").innerHTML = link;



        document.body.className = "uploaded";
	}
	// or here even
        // Ok, I don't handle the errors. An exercice for the reader.

        /* And now, we send the formdata */
        xhr.send(fd);
    });

	function putIntoDB(imgURL){
	var json = {
		'url': imgURL	
	};

		$.post('/camera/new', json, function(){
			window.location.href = '/retakepic';
		});
	}


/*
$('[data-action=upload-to-imgur]').click(function(fileToUpload){
		console.log(fileToUpload);
	})
// separator

$(document).ready(function(){
	console.log("page has been initialized");
	initPage();
});

function initPage(){
	console.log("wait for da click...");
	$('#whysospecial').click(share);
}

function share(e){

console.log("confirmation");
conesole.log(filesToUpload);

}
*/
  </script>
 

    <br>
    <br>
    <br>
     <div class="formatcenter">
          <p>&copy; Teleportation</p>
      </div>

    </div> <!-- /container -->
        <script src="/js/camera.js"></script>

  </body>

</html>
