<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Choose Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>

  </head>

  <body>
    <table class="logo formatcenter">
        <tr>
          <td style="padding-right:3%;"><button onclick="goBack()" class="pull-left btn_dropdown"><img id="back" src="img/glyphicons_224_chevron-left.png"></button></td>

           <td style="padding-left:auto; padding-right:auto;"><h1>CATEGORY</h1></td>
          <td class="menuCol">
            <div class="btn-group menu">
            <button class="btn_dropdown" data-toggle="dropdown" id="menuBtn">
            <img id="menu" src="img/glyphicons_114_list.png">
            </button>
              <ul class="dropdown-menu pull-right setbackground " role="menu" aria-labelledby="dropdownMenu">
                <li class="rightMargin"><a tabindex="-1" onclick="goMyCloset()"><img id="setting" src="img/closet.png" class="rightMargin">MY CLOSET</a></li>
                <li class="divider"></li>
    <li class="rightMargin"><a tabindex="-1" onclick="goCamera()"><img id="setting" src="img/camera.png" class="rightMargin">CAMERA</a></li>
                <li class="divider"></li>
    <li class="rightMargin"><a tabindex="-1" onclick="goOutfits()"><img id="setting" src="img/outfit.png" class="rightMargin">OUTFITS</a></li>
                <li class="divider"></li>
    <li class="rightMargin"><a tabindex="-1" onclick="goHelp()"><img id="setting" src="img/help.png" class="rightMargin">HELP</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/settings"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">SETTINGS</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/" onclick="logout2()"><img id="logout" src="img/glyphicons_388_exit.png" class="rightMargin">LOG OUT</a></li>

               </ul>
        </div>  
      </td>
        </tr>
    </table>
      <div class="container">
        <!--  <h1 class="logo" >CHOOSE CATEGORY</h1> -->
      </div>
    
     
        <div class="container formatcenter topmarginsmall">
              <a href="/camera" class="btn_category tops" id="tops" onclick="selectCameraCategory('tops')"></a>
              <br>
              <a href="/camera" class="btn_category  pants" onclick="selectCameraCategory('pants')"></a>
              <br>
              <a href="/camera" class="btn_category shoes" onclick="selectCameraCategory('shoes')"></a>
              <br>
              <a href="/camera" class="btn_category extra" onclick="selectCameraCategory('extra')"></a>
         </div> <!--/container -->
     <div class="formatcenter">
          <p>&copy; Teleportation</p>
      </div>

    <!-- Le javascript
    ================================================== -->
    <script src ="https://code.jquery.com/jquery.js"></script>
        <script src="/js/category.js"></script>
        <script src="/js/logout.js"></script>

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


  ga('create', 'UA-48586850-1', 'mycloset.herokuapp.com');
  //ga('create', 'UA-48586850-1', {'cookieDomain': 'none'});
  //ga('create', 'UA-48586850-1', {'home': 'click'});
  ga('send', 'pageview');

                function goBack()
        {
          console.log("error");
        ga('send', 'event', 'back2', 'click', {'hitCallback': 
          function() {
            window.history.back();
          }
        });
        //window.history.back();
        };

        function goMyCloset() {
          console.log("my closet clicked");
          ga('send', 'event', 'mycloset', 'click', {'hitCallback':
            function() {
            window.location.href = "/mycloset";
          }
        });
      };

      function goCamera() {
        ga('send', 'event', 'camera', 'click', {'hitCallback':
          function() {
            window.location.href = "/category";
          }
        });
      };

      function goOutfits() {
        ga('send', 'event', 'outfits', 'click', {'hitCallback':
          function() {
            window.location.href = "/outfits";
          }
        });
      };

      function goHelp() {
        ga('send', 'event', 'help', 'click', {'hitCallback':
          function() {
            window.location.href = "/help";
          }
        });
      };

</script>

  </body>
</html>
