<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>

     <script>
function goBack()
  {
  window.history.back()
  }
</script>
  </head>

  <body>
    <table class="logo formatcenter">
        <tr>
          <td style="padding-right:5%;"><button onclick="goBack()" class="pull-left btn_dropdown"><img id="back" src="img/glyphicons_224_chevron-left.png"></button></td>

           <td style="padding-left:auto; padding-right:auto;"><h1>HELP</h1></td>
          <td class="menuCol">
            <div class="btn-group menu">
            <button class="btn_dropdown" data-toggle="dropdown" id="menuBtn">
            <img id="menu" src="img/glyphicons_114_list.png">
            </button>
              <ul class="dropdown-menu pull-right setbackground" role="menu" aria-labelledby="dropdownMenu">
                		<li class="rightMargin"><a tabindex="-1" href="/mycloset"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">MY CLOSET</a></li>
                <li class="divider"></li>
		<li class="rightMargin"><a tabindex="-1" href="/camera"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">CAMERA</a></li>
                <li class="divider"></li>
		<li class="rightMargin"><a tabindex="-1" href="/outfits"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">OUTFITS</a></li>
                <li class="divider"></li>
		<li class="rightMargin"><a tabindex="-1" href="/help"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">HELP</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/settings"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">SETTINGS</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/" onclick="logout2()"><img id="logout" src="img/glyphicons_388_exit.png" class="rightMargin">LOG OUT</a></li>
               </ul>
        </div>  
      </td>
        </tr>
    </table>
    <br>

        <div class="container formatcenter">
             <p>My Closet is meant for users who have a hard time choosing what to buy and what to wear. This application allows the user to save the contents of their closet for reference when shopping. It features an outfit generator based on contents in your closet and new items that the user can add.</p>
             <br>
             <p>Please email: mycloset@gmail.com for any feedback or questions. Thanks!</p>
         </div> <!--/container -->
     <br>
     <br>
     <div class="formatcenter">
          <p>&copy; Teleportation</p>
      </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/logout.js"></script>
  </body>
</html>
