<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MY CLOSET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
        <script>
    function goBack()
      {
      window.history.back()
      }
    </script>
  </head>

  <body>
      <div class="logo">
        <h1>INTRODUCTION</h1>
     </div>
      <div class="container formatcenter">
        <br>
        <h4>WELCOME TO MY CLOSET! HERE IS A BRIEF INTRODUCTION!</h4>
        <p> My Closet is designed to help you create your own digital closet that you can carry with you everywhere. Create outfits from your closet. Share your outfits and closet items! My Closet, snap, save, share. </p>
        <br>
    </div>
     <div class="container formatcenter">
          <p>FOR NAVIGATION</p> 
          <img class="shadow" src="img/navbar.PNG"><img>
     </div>
     <div class="container formatcenter">
          <br>
          <p>MENU BUTTON</p> 
          <img class="shadow" src="img/menu2.png"><img>
     </div>
     <div class="container formatcenter">
          <br>
          <p>OPTIONS</p> 
          <img class="shadow" src="img/options.PNG"><img>
     </div>
     <br>
     <br>
     <div class="formatcenter">
    <p>Please start by adding items into your new digital closet by selecting
      the a Category corresponding to the item you are adding in the next page. You can then take pictures of your items with the Camera option</p>
     <a href="/category" class="btn btncolor">I'M READY!</a>
     <div>
      <br>
     <div class="formatcenter">
          <p>&copy; Teleportation</p>
      </div>
  </body>
</html>
