<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
	      <script type="text/javascript">
	          function validate(){
		      var un = document.loginForm.username.value;
		      var pw = document.loginForm.pword.value;
		      var valid = false;

		      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

		      if(re.test(un)){
		          valid = true;
		      }
/*
		      var unArray = ["Judy", "Doris", "Frank"];
		      var pwArray = ["Lin", "Kwok", "Chao"];

		      for(var i = 0; i < unArray.length; i++){
		          if((un == unArray[i]) && (pw ==pwArray[i])){
			      valid = true;
			      break;
		          }
		      }
*/
	              if(valid){
		          alert("Login was successful");
		          window.location.href = "/home";
		          return false;
		      }
		      else{
		          alert("Incorrect username and/or password.");
		      }

		      document.loginForm.username.value = "";
		      document.loginForm.pword.value="";
	     	      setTimeout("document.loginForm.username.focus()", 25);
		      setTimeout("document.loginForm.username.select()", 25);

		  }
	      </script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>
        <div class="container">
          <h1 class="logo" >MY CLOSET</h1>
            <form name="loginForm" id="loginForm" role="form" method="get" class="navbar-form formatcenter">
              <input name="username" class="span2" type="text" placeholder="Email" id="email">
	      <br>
              <input name="pword" class="span2" type="password" placeholder="Password" id="password">
	      <br>
	      <button type="submit" class="btn btncolor stretch" onclick="return validate()">LOGIN</button>
	      <br>
              </form>
	      	
	      <form action="/forgotpassword" class="navbar-form formatcenter">
              <button type="submit" value="link to forgot pw page" class="stretch btn forgPW">FORGOT PASSWORD</button>
	      </form>
	      <form action="/signup" class="navbar-form formatcenter">
	      <button type="submit" value="Sign up here!" class="stretch btn btncolor">SIGN UP</button>
	      </form>

      <div class="container">
      	<br>
      	<br>
      <div class="formatcenter">
        <p>&copy; Teleportation</p>
      </div>

    </div> <!-- /container -->


  </body>
</html>
