<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Selected Outfit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>

    <script>
function goBack()
  {
  window.history.back()
  }
</script>
    <link href="css/bootstrap.css" rel="stylesheet">

  </head>

  <body onload="changeURL()">
<!-- Facebook Script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Tumblr Script -->
<script src="http://platform.tumblr.com/v1/share.js"></script>



    <table class="logo formatcenter">
        <tr>
          <td style="padding-right:5%;"><button onclick="goBack()" class="pull-left btn_dropdown"><img id="back" src="img/glyphicons_224_chevron-left.png"></button></td>

           <td><h1>OUTFIT VIEWED</h1></td>
          <td class="menuCol">
            <div class="btn-group menu">
            <button class="btn_dropdown" data-toggle="dropdown" id="menuBtn">
            <img id="menu" src="img/glyphicons_114_list.png">
            </button>
              <ul class="dropdown-menu pull-right setbackground" role="menu" aria-labelledby="dropdownMenu">
                <li class="rightMargin"><a tabindex="-1" href="/home"><img id="setting" src="img/glyphicons_020_home.png" class="rightMargin">HOME</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/"><img id="logout" src="img/glyphicons_388_exit.png" class="rightMargin">LOG OUT</a></li>
               </ul>
        </div>  
      </td>
        </tr>
    </table>

     <br>
     <h1 id="outfitname"></h1>
     <div class="formatcenter">
     <div id="outfitbox"> 
      <img id="extraimage">
      <img id="shoeVal">
      <br>
      <img id="pantVal">
      <img id="topVal">
     <!-- <a href="/viewoutfits" class="btn btncolor">SAVE</a>
      <a href="/outfits" class="btn btncolor">CANCEL</a> -->
    </div>
    </div>
    
        <br>
          <!--<a href="/createoutfits" class="btn centeralign btncolor">EDIT</a>-->
          <a class="btn centeralign btncolor" onclick="deleteOutfits()">DELETE</a>
          <br>
    <div class="container formatcenter">
<!-- Facebook share -->
<div id="hrefshare" style="padding-bottom: 10px;"class="fb-share-button" data-href="http://google.com" data-type="button_count"></div>
	  <br>
<!-- Tumblr share -->
<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://platform.tumblr.com/v1/share_3.png') top left no-repeat transparent;">Share on Tumblr</a>
          <br>
<!-- Google plus -->
	  <!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-annotation="bubble" data-action="share"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; 
    po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; 
    s.parentNode.insertBefore(po, s);
  })();


</script>
	  <br>
	  <br>
	  <br>
     <div class="formatcenter">
          <p>&copy; Teleportation</p>
      </div>
      <script src="/js/jquery-1.11.0.js"></script>
      <!-- using localStorage -->
      <script> 

        var image1= localStorage.getItem("image1");

        //$("#outfitname").text(outfitname);
        //var imgSource = document.getElementById("outfitimage").src;
        //console.log( imgSource);
        document.getElementById("extraimage").src = image1;

        var shoeVal = localStorage.getItem("image2");
        document.getElementById("shoeVal").src = shoeVal;

        var pantVal = localStorage.getItem("image3");
        document.getElementById("pantVal").src = pantVal;

        var topVal = localStorage.getItem("image4");
        document.getElementById("topVal").src = topVal;
        console.log(image1 + " " + shoeVal + " 3: " + pantVal + " 4: " + topVal);


        function changeURL() {
          console.log("getting in load");
          //$("#hrefshare").data('href',"http://facebook.com");
          document.getElementById("hrefshare").setAttribute("data-href", "http://facebook.com");
        }
      </script>
      <script src="/js/viewtops.js"></script>
  </body>
</html>
