<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Done</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <script>
        setTimeout(function () {
        window.location.href = "/";}, 10000);
    </script>
  </head>

  <body onload="setTimeout()">
    <table class="logo formatcenter">
        <tr>

           <td style="padding-left:auto; padding-right:auto;"><h1>PASSWORD SENT</h1></td>
        <!--  <td><a href="/settings" class="btn_nav settingbtn"></a></td> -->
        </tr>
    </table>
        <div class="container">
	<p style="font-size:20px; vertical-align:middle;" class="navbar-form formatcenter topmargin">Password sent! You should receive an e-mail with your password in 15 minutes! You will be redirected to the log-in page in 10 seconds.</p>

      <div class="bottomfixed">
      <footer>
          <p>&copy; Teleportation</p>
      </footer>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
        <script src="/js/logout.js"></script>
  </body>
</html>


