<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
  
    <script>


         function validate(){
	     var un = document.signupForm.username.value;
	     var pw = document.signupForm.pword.value;
	     var valid = false;

	     var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

	     if(re.test(un)){
	         valid = true;
	     }
	              
	     if(valid){
		 alert("Login was successful");
		 window.location.href = "/home";
		 return false;
	     }
	     else{
 	         alert("Invalid e-mail.");
	     }
	     document.signupForm.username.value = "";
	     document.signupForm.pword.value="";
	     setTimeout("document.signupForm.username.focus()", 25);
             setTimeout("document.signupForm.username.select()", 25);

	 }
    </script>
</head>

  <body>
   <table class="logo formatcenter" style="width:100%">
        <tr>
           <td><a href="/" class="pull-left"><img id="back" src="img/glyphicons_224_chevron-left.png"></a></td>
           <td><h1>SIGN UP</h1></td>
      <td></td>
        <!--  <td><a href="/settings" class="btn_nav settingbtn"></a></td> -->
        </tr>
    </table>
        <div class="container">
          <br>
            <form name="signupForm" id="signupForm" role="form" method="post" class="navbar-form formatcenter">
              <input class="span3" id="firstname" type="text" placeholder="First Name" name="firstname">
	      <br>
              <input class="span3" id="lastname" type="text" placeholder="Last Name" name="lastname">
	      <br>
              <input name="username" class="span3" type="text" placeholder="Email" id="email">
              <br>
	      <input class="span3" type="password" placeholder="Password" id="password" name="pword">
              <br>
              <button type="button" class="btn btncolor" id="signupbt">REGISTER</button>
            </form>
         </div> <!--/container -->
      <br>
      <br>
      <div class="formatcenter">
      <footer>
        <p>&copy; Teleportation</p>
      </footer>
      </div>

    <!-- scripts -->
    <script src ="https://code.jquery.com/jquery.js"></script>
        <script src="/js/signup.js"></script>

    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
  </body>
</html>
