<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>

</head>

  <body>
   <table class="logo formatcenter" style="width:100%">
        <tr>
           <td><a onclick="goBack()" class="pull-left"><img id="back" src="img/glyphicons_224_chevron-left.png"></a></td>
           <td><h1>SIGN UP</h1></td>
      <td></td>
        <!--  <td><a href="/settings" class="btn_nav settingbtn"></a></td> -->
        </tr>
    </table>
        <div class="container">
          <br>
            <form name="signupForm" id="signupForm" role="form" method="post" class="navbar-form formatcenter">
              <input class="span3" id="firstname" type="text" placeholder="First Name" name="firstname">
	      <br>
              <input class="span3" id="lastname" type="text" placeholder="Last Name" name="lastname">
	      <br>
              <input name="username" class="span3" type="text" placeholder="Email" id="email">
              <br>
	      <input class="span3" type="password" placeholder="Password" id="password" name="pword">
              <br>
              <button type="button" class="btn btncolor" id="signupbt">REGISTER</button>
            </form>
         </div> <!--/container -->
      <br>
      <br>
      <div class="formatcenter">
      <footer>
        <p>&copy; Teleportation</p>
      </footer>
      </div>

    <!-- scripts -->
    <script src ="https://code.jquery.com/jquery.js"></script>
        <script src="/js/signup.js"></script>
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');


  ga('create', 'UA-48586850-1', 'mycloset.herokuapp.com');
  //ga('create', 'UA-48586850-1', {'cookieDomain': 'none'});
  //ga('create', 'UA-48586850-1', {'home': 'click'});
  ga('send', 'pageview');

        function goBack()
        {
          console.log("error");
        ga('send', 'event', 'back2', 'click', {'hitCallback': 
          function() {
            window.history.back();
          }
        });
       
        };

</script>

  </body>
</html>
