<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="../../">
    <title>Tops</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <!-- Fav and touch icons -->
    <script>
    function goBack()
      {
      window.history.back()
      }
    </script>
  </head>

  <body>
    <table class="logo formatcenter">
        <tr>
          <td style="padding-right:5%;"><button onclick="goBack()" class="pull-left btn_dropdown"><img id="back" src="img/glyphicons_224_chevron-left.png"></button></td>
           <td style="padding-left:auto; padding-right:auto;"><h1>TOPS</h1></td>
          <td class="menuCol">
            <div class="btn-group menu">
            <button class="btn_dropdown" data-toggle="dropdown" id="menuBtn">
            <img id="menu" src="img/glyphicons_114_list.png">
            </button>
              <ul class="dropdown-menu pull-right setbackground" role="menu" aria-labelledby="dropdownMenu">
                 <li class="rightMargin"><a tabindex="-1" href="/home"><img id="setting" src="img/glyphicons_020_home.png" class="rightMargin">HOME</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/settings"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">SETTINGS</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/" onclick="logout2()"><img id="logout" src="img/glyphicons_388_exit.png" class="rightMargin">LOG OUT</a></li>
               </ul>
        </div>  
      </td>
        <!--  <td><a href="/settings" class="btn_nav settingbtn"></a></td> -->
        </tr>
    </table>

    <br>
    {{#each tops_list}}
      <div id="image_box" class="getImg">

        <div class="col">
          <a href="/viewtops"><img id="imgVal" src="{{url}}" onClick="selectTopCloset('{{url}}')"/></a>
        </div>
      </div> 
    {{/each}}

      <br>
      <br>
     <div class="bottomfixed">
      <footer>
          <p>&copy; Teleportation</p>
      </footer>
     </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

          <script>
      function selectTopCloset(url) {   
          //console.log("image clicked");
          var imgVal = url;
        //console.log(imgVal);
        localStorage.setItem("viewtops", url);
      }
      </script>
      <script src="/js/logout.js"></script>
  </body>
</html>
